$fontFamily: 'Gilroy';
$secondFont: 'Bentham';
$fontSize: 18px;

$mainColor: #ffffff;
$accent: #FBD784;
$bg: #0B1D26;

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1790;
$minWidthContainer: 1492;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
