@import 'normalize.scss';

@import 'fonts';
@import 'vars';


html {
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    color: $mainColor;
    font-size: $fontSize;
    font-family: $fontFamily;
    background-color: $bg;
    font-weight: 700;
}


button {
    border: none;
    background-color: transparent;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex-grow: 1 1 auto;
    overflow: hidden;
    &__screen {
        overflow: hidden;
    }
}

._container {
    max-width: $minWidthContainer + px;
    margin: 0 auto;
    padding: 0px 15px;
}

.title {
    font-family: $secondFont;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 64px;
}

.subtitle {
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: $accent;
    padding-left: 104px;
    position: relative;
    &::before {
        content: '';
        width: 70px;
        height: 2px;
        background-color: $accent;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        position: absolute;
    }
}

.text {
    line-height: 32px;
}

.read-link {
    color: $accent;
    padding-right: 40px;
    position: relative;
    &::after {
        content: '\e901';
        position: absolute;
        right: 0;
        top: 0;
        line-height: 22px;
        transform: rotate(-90deg);
        font-family: 'icomoon';
        font-weight: 400;
        font-size: 24px;
    }
}

@import 'header';
@import 'main-screen';
@import 'section';
@import 'footer';